*.class

# Package Files #
*.jar
*.war
*.ear

bin
conf
docs
eclipse
jars
lib
logs
reobf
runtime
temp
src/minecraft/cpw
src/minecraft/ibxm
src/minecraft/net
src/minecraft/paulscode
src/minecraft/*.cfg
src/minecraft/*.png
src/minecraft/Start.java
src/minecraft/mcpmod.info
src/minecraft/fmlversion.properties
CHANGELOG

*.bat
*.sh
*.txt
